html,
body {
  font-size: 32px;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover,
a:active {
  color: #005500;
}

strong {
  font-weight: 600;
}

section {
  padding-top: 2.875em;
}

.about-jumbotron-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 2.25rem;
  background: url(../../public/asset/images/jumbotron.png) no-repeat center
    center;
  height: 100vh;
  background-size: cover;
}

.about-jumbotron-main-title {
  font-weight: 600;
  font-size: 2.25rem;
}

/* .jumbotron strong {
  color: #005500;
} */

.about-jumbotron-title {
  margin-left: 3em;
}

.about-jumbotron-title-eng {
  margin-left: 3em;
}

/* about-ais-wrapper */
.about-ais-wrapper {
  width: 70%;
  margin: 3em auto;
}
` .about-ais-title {
  text-align: center;
  width: 70%;
  margin: auto;
  margin-bottom: 3em;
  font-size: 1rem;
  line-height: 1.5;
}

.about-ais-content-wrapper {
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 3.125em;
  border: solid 0.5px #c4c4c4;
  border-radius: 27px;
}

.about-ais-content-wrapper:last-child {
  flex-direction: row-reverse;
  text-align: end;
  margin-bottom: 0em;
}

.about-ais-img {
  width: 50%;
}

.about-ais-img-title {
  display: none;
}

.about-ais-img-item {
  width: 100%;
  height: 100%;
}

.about-ais-content {
  width: 50%;
  margin: auto 0;
  padding: 1em;
}

.about-ais-content-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.875em;
}

.about-ais-content-content {
  font-size: 0.75rem;
}

.about-outer-vision {
  background: url(../../public/asset/images/visionbg.png) no-repeat center
    center;
  width: 100%;
  height: 20.156em;
  position: relative;
  background-size: cover;
}

.about-inner-vision {
  width: 70%;
  height: 12em;
  background: #ffffff;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  text-align: center;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}

.about-ais-vision {
  text-align: center;
  margin-top: 1.813em;
  font-size: 1.125rem;
}

.about-ais-vision:after {
  content: "";
  display: block;
  width: 10%;
  margin: auto;
  border-bottom: 2px solid #005500;
  margin-bottom: 2px;
}

.about-ais-vision-title {
  color: #005500;
  text-align: center;
  margin-top: 1.688em;
  font-size: 1.2rem;
  font-weight: 600;
}

.about-ais-visions-wrapper {
  font-size: 1rem;
  position: relative;
  margin: 3rem auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.about-ais-vision-img {
  position: relative;
}

.about-ais-vision-img-item {
  width: 100%;
}

.about-ais-vision-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #005500;
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
}

/* history */

.about-history-wrapper {
  width: 100%;
  text-align: center;
}

.about-history-wrapper-title {
  width: 70%;
  margin: 1em auto 2em;
  text-align: center;
  font-size: 1.313rem;
  line-height: 1.5;
}

.history {
  background: url(../../public/asset/images/historybg.png) no-repeat center
    center;
  background-size: cover;
}
/* 
.history {
  border: 1px solid #fff;
} */

.about-history-inner {
  width: 80%;
  margin: auto;
  padding: 5% 10%;
}

.about-history-year {
  position: relative;
  font-size: 1rem;
  color: #fff;
  text-align: left;
  padding-left: 20px;
}

.about-history-year:before {
  content: "";
  position: absolute;
  left: -48px;
  top: 50%;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #fff;
  transform: translateY(-50%);
}

.about-history .about-history-item {
  position: relative;
  padding: 0 0 0 48px;
  text-align: left;
}

.about-history .about-history-item:before {
  content: "";
  position: absolute;
  left: 13px;
  top: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(to bottom, #ffffff, #ffffff);
}

.about-history-item:first-child:before {
  top: 12px;
  height: calc(100%-10px);
}

.history-contents {
  padding: 20px 0 74px;
  text-align: left;
  margin-bottom: 0;
  font-size: 1rem;
  padding-left: 20px;
  word-break: keep-all;
}

.history-content {
  color: #fff;
  font-size: 1rem;
  margin-bottom: 0.5em;
}

/* news */

.about-news-title {
  text-align: center;
  margin: 2rem auto;
  font-size: 1.5rem;
  padding-top: 3rem;
}

.about-news-slide {
  height: 21.719em;
  background: rgba(0, 85, 0, 0.03);
  padding: 2.625em 5.688em;
}

.about-news-item {
  background: #ffffff;
  height: 16.469em;
  border: solid 0.8px rgba(0, 0, 0, 0.5);
  margin: 0 0.469em;
}

.about-news-img-wrapper {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center center;
}

.about-news-img-wrapper img {
  overflow: hidden;
}

.about-news-content-wrapper {
  width: 100%;
  height: 30%;
  background: #ffffff;
  bottom: 0;
  padding: 0.938em 0.625em 0.875em;
}

.about-news-content {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* location */
.about-location {
  margin-bottom: 7.75rem;
}

.about-address-wrapper {
  width: 50%;
  margin: auto;
}

.about-location-title {
  text-align: center;
  margin: 2em auto 1em;
  padding-top: 3rem;
  font-size: 1.5rem;
}

.about-location-address {
  text-align: center;
  font-size: 1.125rem;
  word-break: keep-all;
}

@media screen and (max-width: 1224px) {
  .about-jumbotron-title {
    margin-left: 2em;
  }

  .about-jumbotron-title-eng {
    margin-left: 2em;
  }
}

/* media query */
@media screen and (max-width: 1024px) {
  html {
    font-size: 32px;
  }

  /* about */
  .about-ais-wrapper {
    width: 90%;
    padding: 3.875em 0 0px 0;
  }

  .about-ais-title {
    margin-bottom: 3.875em;
    width: 100%;
  }

  .about-ais-content-wrapper {
    display: block;
    width: 100%;
    border: none;
  }

  .about-ais-img {
    display: none;
  }

  .about-ais-img-title {
    width: 100%;
    display: block;
  }

  .about-ais-img-item {
    width: 100%;
  }

  .about-ais-content {
    width: 100%;
    text-align: center;
    margin-top: 1.125em;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .about-jumbotron-wrapper {
    padding: 0;
  }

  .about-jumbotron-main-title {
    line-height: 1.5;
  }

  .about-jumbotron-title {
    width: 60%;
    margin-left: 2em;
  }

  .about-jumbotron-title-eng {
    margin: 0;
  }

  .about-company-title-eng {
    text-align: center;
  }

  /* about */
  .about-ais-wrapper {
    width: 80%;
    padding: 3.875em 0 0px 0;
  }

  .about-ais-title {
    margin-bottom: 3.875em;
    width: 100%;
  }

  .about-ais-content-wrapper {
    display: block;
    width: 100%;
    border: none;
  }

  .about-ais-img {
    display: none;
  }

  .about-ais-img-title {
    width: 100%;
    display: block;
  }

  .about-ais-img-title-img {
    width: 100%;
  }

  .about-ais-content {
    width: 100%;
    text-align: center;
    margin-top: 1.125em;
  }

  /* vision */
  .about-ais-visions-wrapper {
    height: auto;
    margin: 3.875em auto 0;
  }

  .about-ais-vision-title {
    margin: 2em auto;
    font-size: 1.1rem;
  }

  .about-ais-visions-wrapper {
    display: block;
  }

  .about-ais-vision-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.75em;
  }

  .about-ais-vision-img-item {
    width: 50%;
  }

  .about-ais-vision-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.75em;
  }

  .about-ais-vision:after {
    width: 20%;
  }

  /* history */
  .history {
    margin-top: 3.875em;
    padding: 0 1.563em;
  }

  .about-history-wrapper h2 {
    width: 80%;
  }

  .lineWrapper {
    padding-right: 1.25em;
  }

  .about-history-inner {
    padding: 5%;
  }

  /* press */
  .about-news-slide {
    padding: 2.625em 3.688em;
  }

  /* location */

  .location {
    margin-bottom: 3.875rem;
  }

  .location h2 {
    font-size: 1.313rem;
  }

  .location address {
    font-size: 1rem;
    width: 80%;
    margin: auto;
  }

  .about-address-wrapper {
    width: 100%;
    margin: auto;
    margin-top: 1.25em;
  }
}

@media screen and (max-width: 767px) {
  html,
  body {
    font-size: 16px;
  }

  .jumbotron h1 {
    line-height: 1.5;
    font-size: 1.75rem;
    width: 80%;
  }

  .about-jumbotron-title {
    margin-left: 1em;
  }

  .about-jumbotron-title-eng {
    margin: 1em;
  }

  /* about */
  .about-ais-wrapper {
    width: 90%;
    padding: 3.875em 0 0px 0;
  }

  .about-ais-title {
    margin-bottom: 3.875em;
    width: 100%;
    font-size: 1.25rem;
  }

  .about-ais-content h3 {
    font-size: 1.2rem;
  }

  .about-ais-content p {
    font-size: 1rem;
  }

  .about-ais-content-wrapper {
    display: block;
    width: 100%;
    border: none;
  }

  .about-ais-img {
    display: none;
  }

  .about-ais-img-title {
    width: 100%;
    display: block;
  }

  .about-ais-img-title img {
    width: 100%;
  }

  .about-ais-content {
    width: 100%;
    text-align: center;
    margin-top: 1.125em;
  }

  /* vision */
  .about-ais-visions-wrapper {
    height: auto;
    margin: 3.875em auto;
  }

  .about-ais-vision-title {
    margin-top: 1rem;
    font-size: 1.6rem;
  }

  .about-ais-vision-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.75em;
  }

  .about-ais-vision-img-item {
    width: 80%;
  }

  .about-ais-vision-content {
    font-size: 1.781rem;
  }

  .about-ais-vision:after {
    width: 20%;
  }

  /* news */
  .about-news-title {
    font-size: 1.3rem;
  }

  .about-ais-visions-wrapper {
    flex-wrap: wrap;
  }

  .about-news-slide {
    padding: 1em 2em;
  }

  /* history */
  .history {
    margin-top: 3.875em;
    padding: 0 1.563em;
  }

  .about-history-wrapper-title {
    width: 80%;
    font-size: 1.281rem;
  }

  .about-history-inner {
    padding: 5%;
  }

  .about-history-wrapper-title:before {
    width: 20px;
    height: 20px;
  }

  .about-history-item:before {
    left: 8px;
  }

  .about-location {
    margin-bottom: 3rem;
  }

  /* location */
  .about-location-title {
    font-size: 1.3rem;
  }

  .about-location-address {
    width: 80%;
    margin: auto;
  }

  .about-address-wrapper {
    width: 100%;
    margin: auto;
    margin-top: 1.25em;
  }
}

@media screen and (max-width: 456px) {
  .about-news-slide {
    padding: 1em 2em;
  }

  .about-location-address {
    margin-bottom: 3rem;
  }
}
